[data-md-color-scheme="cumbuca-dark"] {

  color-scheme: dark;

  /* Primary */
  --md-primary-fg-color:               #8B008B;
  --md-primary-fg-color--light:        #D48BD4;
  --md-primary-fg-color--dark:         #F2DDF2;

  /* Accent */
  --md-accent-fg-color:                #D48BD4;
  --md-accent-fg-color--transparent:   rgba(212, 139, 212, 0.18);

  /* Background */
  --md-default-bg-color:               #000000;
  --md-default-bg-color--light:        #0F0F10;
  --md-default-bg-color--lighter:      #1A1A1C;
  --md-default-bg-color--lightest:     #222228;

  /* Text */
  --md-default-fg-color:               rgba(255, 255, 255, 0.92);
  --md-default-fg-color--light:        rgba(255, 255, 255, 0.72);
  --md-default-fg-color--lighter:      rgba(255, 255, 255, 0.50);

  --md-typeset-color:                  rgba(255, 255, 255, 0.92);

  /* Links */
  --md-typeset-a-color:                #D48BD4;

  /* Code */
  --md-code-bg-color:                  #111114;
  --md-code-fg-color:                  #F2DDF2;

  /* UI surfaces */
  --md-admonition-bg-color:            #0F0F10;

  /* Footer */
  --md-footer-bg-color:        #1A1A1C;
}

.md-header,
.md-tabs {
  background-color: #1A1A1C !important;
}

.md-header,
.md-header__title,
.md-tabs__link,
.md-header__button {
  color: #FFFFFF !important;
}

/* Hover */
.md-tabs__link:hover,
.md-header__button:hover {
  color: #D48BD4 !important;
}

.md-typeset {
  font-weight: 400;
  letter-spacing: 0.01em;
}
